.profile-page-header {
    margin-top: 10%;
    margin-bottom: 5%;
}
.profile-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 840px;
}
.profile-page-selected-form {
    color: #2F80ED !important;
    border-bottom: 2px solid #2F80ED !important;
}
.profile-form-field {
    width: 360px;
    margin: 20px;
}
.profile-form-submit {
    max-width: 123px;
}
.profile-password-field {
    margin: 20px;
    width: 223px;
}